

#main{
    background-color: #eee;
    text-align: center;
    border-radius: 20px;
    margin: 20px 20px 20px 20px;
    padding: 20px 20px 20px 20px;
}
#img-div{
    background-color: aliceblue;
    margin: 10px 10px 10px 10px;
    border-radius: 20px;
    padding:inherit;
}
#image {
        margin: inherit;
        width: 100%;
        height: auto;
        max-width: 320px;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
#tribute-info{
    margin: 10px 10px 10px 10px;
    font-size: 19px;
    background-color: cornsilk;
    border-radius: 20px;
    padding: 20px;
}

#tribute-link{
    background-color: #9478FA ;
    color:aliceblue;
    padding:5px 5px 5px 5px;
    border-radius: 5px;
    
}